* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
	font-family: "Roboto", sans-serif;
	text-align: center;
	align-content: center;
}
body {
	background-color: #1c1c1c;
}
#avatar {
	width: 256px;
	height: 256px;
	margin: 50px auto 20px;
	border-radius: 100%;
}
h1 {
	font-size: 48px;
	margin: 20px;
}
h2 {
	font-size: 32px;
	margin: 20px;
}
section {
	width: 100%;
	padding: 30px;
}
section:nth-of-type(even) {
	background-color: #292929;
}
section > div {
	max-width: 600px;
	margin: 0 auto;
}
#tools li {
	font-size: 20px;
	font-weight: 600;
	margin: 4px;
	display: flex;
	align-items: center;
}
#tools li a {
	width: 48px;
	height: 100%;
	margin: 0 2px;
	background-color: #004E75;
	border-color: #007dbb;
	border-width: 1px;
	border-style: solid;
	display: flex;
	align-items: center;
	flex-direction: column;
	transition: 0.2s;
}
#tools li a:first-of-type {
	border-radius: 6px 0 0 6px;
	flex-direction: row;
	flex-grow: 1;
}
#tools li a:last-of-type {
	border-radius: 0 6px 6px 0;
}
#tools li a:hover {
	background-color: #005f8e;
}
#tools li a:active {
	background-color: #004467;
}
a img {
	height: 20px;
	margin: 8px;
}
.app-name {
	margin: 0 6px 0 0;
}
.version-tag {
	color: #004E75;
	font-style: italic;
	padding: 0 8px;
	background-color: #dddddd;
	border-radius: 6px;
}
a {
	cursor: pointer; 
}
