body {
	color: #fff;
	background-color: #1c1c1c;
	font-family: "Roboto", sans-serif;
	text-align: center;
	align-content: center;
	margin: 0;
	padding: 0;
}
#avatar-container {
	width: 256px;
	height: 256px;
	margin: 50px auto 20px;
	clip-path: circle(20px, 20px, 40px, 40px);
}
h1 {
	font-size: 48px;
	margin: 20px;
}
h2 {
	font-size: 32px;
	margin: 20px;
}
.main-container {
	width: 800px;
	margin: 30px auto;
	background-color: #212121;
	border-color: #222;
	border-width: 1px;
	border-radius: 8px;
	border-style: solid;
}
.section-container {
	width: 600px;
	margin: 30px auto;
	padding: 12px;
	background-color: #292929;
	border-color: #1E1E1E;
	border-width: 1px;
	border-radius: 8px;
	border-style: solid;
}
.tool-entry {
	font-size: 20px;
	font-weight: 600;
	margin: 4px;
	display: flex;
	align-items: center;
}
.tool-entry-button {
	width: 48px;
	height: 100%;
	margin: 0 2px;
	background-color: #004E75;
	border-color: #007dbb;
	border-width: 1px;
	border-style: solid;
	display: flex;
	align-items: center;
	flex-direction: column;
	transition: 0.2s;
}
.tool-entry-button:hover {
	background-color: #005f8e;
}
.tool-entry-button:active {
	background-color: #004467;
}
.left-most {
	border-radius: 4px 0 0 4px;
	flex-direction: row;
	flex-grow: 1;
}
.right-most {
	border-radius: 0 8px 8px 0;
	
}
a img {
	height: 20px;
	margin: 8px;
}
.app-name {
	margin: 0 6px 0 0;
}
.version-tag {
	color: #004E75;
	font-style: italic;
	padding: 0 8px;
	background-color: #dddddd;
	border-radius: 6px;
}
a {
	cursor: pointer; 
}
